.contenedor-orden {
    max-width: 900px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,5);
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff; /* Título en blanco */
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px 10px;
    font-size: 15px;
    text-align: left;
  }
  
  th.monto, td.monto {
    width: 80px;
    max-width: 80px;
  }
  
  td.monto input {
    text-align: right;
    width: 100%;
  }
  input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
  }
  
  .total {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .total input {
    width: 100px;
    font-weight: bold;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
  }
  
  .botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  
  #btn-descargar-pdf {
    display: none;
  }
  
  .btn-cancelar {
    flex: 0.5;
    padding: 1px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-descargar {
    background-color: #007bff;
    color: white;
  }
  
  .btn-cancelar {
    background-color: #dc3545;
    color: white;
  }
 