.mobile-view {
  display: none;
}

@media (max-width: 768px) {
  .seccion {
    display: none;
  }

  .mobile-view {
    display: block;
    margin-top: 1rem;
  }

  .user-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }

  .user-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
  }

  .user-details {
    margin-top: 10px;
  }

  .toggle-icon {
    font-size: 18px;
  }
}
.botones {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.botones button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.btn-descargar {
  background-color: #007A8F; /* verde */
}

.btn-cancelar {
  background-color: #0099B3; /* rojo */
}

.botones button:disabled {
  background-color: #007A8F; /* gris para deshabilitado */
  cursor: not-allowed;
}





 