/* Contenedor principal */
.registro-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: Arial, sans-serif;
}


/* Contenedor de cada sección (para mayor separación) */
.seccion-container {
    margin-bottom: 30px; /* Espaciado entre secciones */
    padding: 20px;
    background-color: #eef2ff; /* Fondo diferente para que resalten */
    border-radius: 10px;
}

/* Secciones */
.seccion {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.subtitulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #444;
}

/* Estilos de los campos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

/* Botones */
.botones {
    display: flex;
    justify-content: center;
    /* gap: 15px; */
    margin-top: 10px;
}

.btn-competencia {
    background: #1e40af;
    color: white;
}

.btn-competencia:hover {
    background: #1d4ed8;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0C3E92;
    /* Color azul tipo botón */
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-red {
    background-color: #E30613;
}

.btn-red:hover {
    background-color: #A0000A;
}

.btn-blue {
    background-color: #0C3E92;
}

.btn-blue:hover {
    background-color: #072B6A;
}

/* Contenedor de Áreas de Competencia */
.area-competencia-container {
    width: 100%;
    background: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Espaciado debajo del botón */
}






