.container {
  width: 450px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

.title-add-convocatoria{
  width: 100%;
  font-size: 20px;
  margin-bottom: 0;
  background-color: #007290;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.textarea {
  width: 100%;
  height: 80px;
}

.fecha-group {
  display: flex;
  gap: 10px;
}

.area-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.add-button {
  background: green;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.area-list {
  list-style: none;
  padding: 0;
}

.area-list li {
  background: #f1f1f1;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.button-group {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
}

.siguiente {
  background: #0093B3;
  color: white;
  padding: 10px;
  border: none;
}

.cancelar {
  background: #B0C4D8;
  color: white;
  padding: 10px;
  border: none;
}
