/* Fondo general */
.login-page {
  max-width: 700px;
  margin: 50px auto;
  border-radius: 16px;
  overflow: hidden; /* Para que el encabezado no tenga espacio arriba */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja del login (más grande) */
.login-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px 50px;  /* Aumentado */
    width: 520px;        /* Aumentado */
    text-align: center;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* espacio derecho para el ícono */
  font-size: 16px;
  box-sizing: border-box;
}

.eye-icon-inside {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}


.eye-icon-inside:hover {
  color: #007bff;
}


@media (max-width: 768px) {
    .login-box{
        width: 80%;
    }
}

/* Título */
.login-box h2 {
    background-color: #007ea9;
    color: white;
    margin: -40px -50px 20px;  /* Ajustado al nuevo padding */
    padding: 15px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Etiquetas */
.login-box label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.btn-iniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.btn-iniciar:hover{
    background-color: #0099B3;
}

.btn-iniciar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
} 

.divDeshabilitado {
  pointer-events: none; /* Evita clicks, focus, etc */
  opacity: 0.5;         /* Visualmente indica deshabilitado */
}