/* Fondo general */
.login-page {
  max-width: 700px;
  margin: 50px auto;
  border-radius: 16px;
  overflow: hidden; /* Para que el encabezado no tenga espacio arriba */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Caja del login (más grande) */
.login-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px 50px;  /* Aumentado */
    width: 520px;        /* Aumentado */
    text-align: center;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem; /* espacio para el icono */
}

.eye-icon-inside {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
}

.eye-icon-inside:hover {
  color: #007bff;
}


@media (max-width: 768px) {
    .login-box{
        width: 80%;
    }
}

/* Título */
.login-box h2 {
    background-color: #007ea9;
    color: white;
    margin: -40px -50px 20px;  /* Ajustado al nuevo padding */
    padding: 15px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Etiquetas */
.login-box label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}


